<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="PemsConnectionString" connectionString="Server=tcp:dv46ejyzqr.database.windows.net,1433;Database=pems;User ID=pems@dv46ejyzqr;Password=R0m@nW@zHere!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="Log" connectionString="Server=tcp:dv46ejyzqr.database.windows.net,1433;Database=pemslog;User ID=pems;Password=R0m@nW@zHere!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="PemsArchiveConnectionString" connectionString="Server=tcp:dv46ejyzqr.database.windows.net,1433;Database=pemsArchive;User ID=pems@dv46ejyzqr;Password=R0m@nW@zHere!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>