<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EncryptionCertificateThumbprint" value="0f97b99e6d2c215054c0e95c30ad41c262fb329e"/>
    <add key="BulkCopyTimeoutInSecounds" value="600" />
    <add key="BulkCopyBatchSize" value="10000" />
    <add key="SqlCommandTimeout" value="120"/>
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config"></connectionStrings>
</configuration>